.mask {
    width: 100%;
    height: 90vh;
    position: relative;
}

.into-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.mask::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.8;
}

.hero {
    height: 100%;
    width: 100%;
}

.hero .contact {
    position: absolute;
    transform: translate(-50%);
    width: 70%;
    top: 15%;
    left: 50%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 200;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .contact h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1.5rem;
}

table{
    width: auto;
}

.contact > table > tr > td {
    padding: 15px;
    color:white;
    text-align: left;
    font-size: 2rem;
    font-weight: 300;
}

/* .content .btn {
    margin: 1rem 0.2rem;
} */

@media screen and ( max-width:900px) {
    .hero .contact h1 {
        font-size: 2.5rem;
    }
    
    .hero .contact p {
        font-size: 1.6rem;
    }

    .hero .contact {
        transform: translate(-50%);
        width: 70%;
        top: 15%;
    }

    iframe{
        width:354px ;
        height: 199px;
    }
    
    /* .button{
        display: flex;
        justify-content: center;
        flex-direction: column;

    } */
}

@media screen and ( max-width:640px) {
    .hero .contact h1 {
        font-size: 2rem;
    }
    
    .hero .contact p {
        font-size: 1.4rem;
    }

    /* .button{
        display: flex;
        justify-content: center;
        flex-direction: column;

    } */
}